/*!
 * Start Bootstrap - Simple Sidebar HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;		
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-y: auto;
    background: #ffffff;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
	border-right: 1px solid #e2e2e2;
	overflow-x: hidden;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
	min-height: 100%;
	height: 100%;
	z-index: 0;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: -250px;
}
#wrapper #page-content-wrapper .side-menu-toggle {
	display: none;
}
#wrapper.toggled #page-content-wrapper .side-menu-toggle {
	position: absolute;
	top: 0px;
	left: 0px;
	display: block;
}
.side-menu-toggle.btn {
	background: none;
	color: #22A7F0;
}

/* Sidebar Styles */

.sidebar-brand {
	text-align: center;
	text-indent: 0 !important;
}
.sidebar-brand .side-menu-toggle.btn {
	color: #fff;
	position: absolute;
	top: 16px;
	left: 10px;
}
/**
 * Flat ui bg colors 
 */
.fc-butter-cup {	
	background-color: #F39C12;
}
.fc-picton {
	background-color: #22A7F0;
}

.sidebar-nav {
    /*position: absolute;
    top: 0;*/
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
	border-right: 1px solid #e2e2e2;
	overflow-y: hidden;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
    color: #ffffff;
}

.sidebar-nav > .sidebar-brand a:hover {
    color: rgba(255, 255, 255, .7);
    background: none;
}

/* show a larger image when you're on a big screen */
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}

/* groupURLs styles */
#groupUrls li a {
	border-bottom: 1px solid #e2e2e2;
	line-height: 20px;
}
#groupUrls li a img {
	height: 16px;
	padding-right: 5px;
}
#groupUrls li.active a {
	border-left: 3px solid #22A7F0;
}
#aloGroup {
	border: 1px solid #22A7F0 !important;
	border-radius: 0px;
}